<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body>
    <form action="/uploadBack" method="post" enctype="multipart/form-data">
        문제 이름: <textarea name="Qname" id="Qname" cols="30" rows="10"></textarea><br>
        문제 내용: <textarea name="Qtext" id="Qname" cols="30" rows="10"></textarea><br>
        사진 추가: <input type="file" name="img" id="img"><br>
        문제 정답: <textarea name="Qanswer" id="Qname" cols="30" rows="10"></textarea><br>
        <input type="submit" value="제출하기">
    </form>
    
</body>
</html>