body {
    text-align: center;
    background-image: url("../image/다운로드.png");
    background-size: 100%;
}

h1 {
    border: solid skyblue 2px;
}

.main {
}

.search {
    
    padding-top: 20%;
    size: 100%;
    /* border: solid skyblue 2px; */
}